doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Reinashop
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/main.css")
    link(rel="icon", type="image/png", href="img/favicon.png")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400i&amp;subset=cyrillic")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald:300")

  body
    header
      .main-bg.full-height
        .logo.js-logo

    section.bg-wh.rel
      .container.padd-vert-1
        article.text-center.welcome
          h1 Добро Пожаловать
          h5 Интернет-магазин <span class='reina-font'>REINASHOP</span> предоставляет огромный выбор женской одежды и аксессуаров на любой вкус.
          h5 Ознакомиться с полным ассортиментом интернет-магазина можно на наших страница в социальных сетях.

    section.rel.main-bg.half-height
      .fade-in-on-visible.table
        .table-row
          article.padd-top-15.table-cell
            h2.white.big-text
              span.reina-font "REINASHOP
              span - ваш помошник в мире моды
              span.reina-font "

    section.bg-wh.marg-bott-45.rel
      .container
        article
          .clothes-pics
            h3 Это и многое другое вы можете найти на наших страницах
            .row.img-row
              .col-md-4.col-sm-6.col-xs-12
                figure
                  img(src="img/model-1.jpg")
                  figcaption Платье - <strong>550 грн</strong>

              .col-md-4.col-sm-6.col-xs-12
                figure
                  img(src="img/model-2.jpg")
                  figcaption Костюм - <strong>570 грн</strong>

              .col-md-4.col-sm-6.col-xs-12
                figure
                  img(src="img/model-3.jpg")
                  figcaption Платье - <strong>480 грн</strong>

              .col-md-4.col-sm-6.col-xs-12
                figure
                  img(src="img/model-4.jpg")
                  figcaption Костюм - <strong>440 грн</strong>

              .col-md-4.col-sm-6.col-xs-12
                figure
                  img(src="img/model-5.jpg")
                  figcaption Платье - <strong>490 грн</strong>

              .col-md-4.col-sm-6.col-xs-12
                figure
                  img(src="img/model-6.jpg")
                  figcaption Платье - <strong>375 грн</strong>

    footer
      .container
        .footer-stuff
          .text-center
            img(src="img/logo.png").logo-img
            h4 Королевой быть просто
          .social-links.text-center
            a(href='https://vk.com/id352511043' target='_blank')
              img.social-img(src='img/soc-vk.png')
            a(href='https://www.instagram.com/_reina_shop_/' target='_blank')
              img.social-img(src='img/soc-inst.png')
            a(href='https://www.facebook.com/profile.php?id=100013830461857' target='_blank')
              img.social-img(src='img/soc-fb.png')

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src="js/main.js")